.projects-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  background-color: #282c34; 
  border-radius: 10px;
  box-sizing: border-box; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f0f0f0;
}

.projects-container h1 {
  text-align: center;
  color: #61dafb; 
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
}

.project {
  background-color: #333; 
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.project h2 {
  color: #61dafb;
  margin-bottom: 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.company-duration {
  color: #ddd; 
  margin: 5px 0;
}

.project ul {
  list-style-type: none;
  padding-left: 0;
}

.project ul ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.project li {
  color: #ddd; 
  margin-bottom: 10px;
  line-height: 1.6;
}

.project h3 {
  font-size: 1.2rem;
  color: #f0f0f0; 
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .projects-container {
      padding: 10px;
  }

  .project {
      padding: 15px;
  }

  .project h2 {
      font-size: 1.25rem;
  }

  .project h3 {
      font-size: 1rem;
  }

  .project li {
      font-size: 0.875rem;
  }
}
